name: Deploy to Cloud Run (GCP WIF)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    env:
      PROJECT_ID: dev-trail-471421-m4
      REGION: asia-southeast1
      SERVICE: fitness-backend
      IMAGE: asia-southeast1-docker.pkg.dev/dev-trail-471421-m4/fitness-backend/fitness-backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: 'auth'
        name: Auth to Google Cloud (WIF)
        uses: google-github-actions/auth@v2
        with:
          token_format: 'access_token'
          workload_identity_provider: projects/1080063722000/locations/global/workloadIdentityPools/kakalot/providers/github-wif-01
          service_account: github-deploy@dev-trail-471421-m4.iam.gserviceaccount.com

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: dev-trail-471421-m4

      - name: Docker auth
        run: |
          echo "${{ steps.auth.outputs.access_token }}" | docker login -u oauth2access_token --password-stdin https://asia-southeast1-docker.pkg.dev

      - name: Build and push image
        run: |
          docker build -t $IMAGE:$GITHUB_SHA .
          docker push $IMAGE:$GITHUB_SHA

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy $SERVICE \
            --image $IMAGE:$GITHUB_SHA \
            --region $REGION \
            --platform managed \
            --port 8080 \
            --timeout 300 \
            --allow-unauthenticated
