name: Deploy to Cloud Run via GCP WIF

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    name: Deploy to Cloud Run
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          workload_identity_provider: "projects/1080063722000/locations/global/workloadIdentityPools/kakalot/providers/githubbOIDC"
          service_account: "github-deploy@dev-trail-471421-m4.iam.gserviceaccount.com"

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Build and Push Image
        run: |
          gcloud builds submit \
            --tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/fitness-backend

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy fitness-backend \
            --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/fitness-backend \
            --region asia-southeast1 \
            --platform managed \
            --allow-unauthenticated
