name: Deploy to Cloud Run (GCP WIF)

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: dev-trail-471421-m4
  REGION: asia-southeast1
  SERVICE: fitness-backend
  ARTIFACT_REPO: fitness
  IMAGE_NAME: fitness-backend

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write   # ⭐ จำเป็นมากสำหรับ WIF

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # =========================
      # Auth with Workload Identity
      # =========================
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/1080063722000/locations/global/workloadIdentityPools/kakalot/providers/github-wif-01
          service_account: github-deploy@dev-trail-471421-m4.iam.gserviceaccount.com

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: dev-trail-471421-m4

      # =========================
      # Docker login (Artifact Registry)
      # =========================
      - name: Configure Docker for Artifact Registry
        run: |
          gcloud auth print-access-token \
            | docker login -u oauth2access_token --password-stdin \
              https://asia-southeast1-docker.pkg.dev

      # =========================
      # Build & Push Image
      # =========================
      - name: Build Docker image
        run: |
          docker build -t asia-southeast1-docker.pkg.dev/$PROJECT_ID/$ARTIFACT_REPO/$IMAGE_NAME:latest .

      - name: Push Docker image
        run: |
          docker push asia-southeast1-docker.pkg.dev/$PROJECT_ID/$ARTIFACT_REPO/$IMAGE_NAME:latest

      # =========================
      # Deploy to Cloud Run
      # =========================
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy $SERVICE \
            --image asia-southeast1-docker.pkg.dev/$PROJECT_ID/$ARTIFACT_REPO/$IMAGE_NAME:latest \
            --region $REGION \
            --platform managed \
            --allow-unauthenticated
