name: Deploy to Cloud Run (GCP WIF)

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: dev-trail-471421-m4
  REGION: asia-southeast1
  SERVICE: fitness-backend
  IMAGE: asia-southeast1-docker.pkg.dev/dev-trail-471421-m4/fitness/fitness-backend

jobs:
  deploy:
    permissions:
      contents: read
      id-token: write   # ⭐ จำเป็นสำหรับ WIF

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ===== Auth ด้วย Workload Identity Federation =====
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/1080063722000/locations/global/workloadIdentityPools/github-pool/providers/github-wif-01
          service_account: github-deploy@dev-trail-471421-m4.iam.gserviceaccount.com

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: dev-trail-471421-m4

      # ===== Docker Auth =====
      - name: Configure Docker
        run: |
          gcloud auth configure-docker asia-southeast1-docker.pkg.dev --quiet

      # ===== Build & Push Image =====
      - name: Build Docker image
        run: |
          docker build -t $IMAGE:${{ github.sha }} .

      - name: Push Docker image
        run: |
          docker push $IMAGE:${{ github.sha }}

      # ===== Deploy to Cloud Run =====
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy $SERVICE \
            --image $IMAGE:${{ github.sha }} \
            --region $REGION \
            --project $PROJECT_ID \
            --platform managed \
            --allow-unauthenticated \
            --port 8080
