- name: Build and Push Docker Image
        run: |
          # 1. ใช้ Token จาก gcloud มา Login เข้า Docker Registry โดยตรง
          gcloud auth print-access-token | docker login -u oauth2access_token --password-stdin https://asia-southeast1-docker.pkg.dev
          
          # 2. Build และ Push ตามปกติ
          docker build -t asia-southeast1-docker.pkg.dev/dev-trail-471421-m4/fitness-backend:${{ github.sha }} .
          docker push asia-southeast1-docker.pkg.dev/dev-trail-471421-m4/fitness-backend:${{ github.sha }}

      - name: Deploy to Cloud Run
        uses: 'google-github-actions/deploy-cloudrun@v2'
        with:
          service: 'fitness-backend'
          region: 'asia-southeast1'
          image: 'asia-southeast1-docker.pkg.dev/dev-trail-471421-m4/fitness-backend:${{ github.sha }}'
