- name: Deploy to Cloud Run
  run: |
    gcloud run deploy $SERVICE \
      --image $IMAGE:$GITHUB_SHA \
      --region $REGION \
      --platform managed \
      --service-account github-deploy@dev-trail-471421-m4.iam.gserviceaccount.com \
      --allow-unauthenticated \
      --quiet
