- name: Authenticate to Google Cloud (WIF)
  uses: google-github-actions/auth@v2
  with:
    token_format: access_token
    workload_identity_provider: projects/1080063722000/locations/global/workloadIdentityPools/github-pool/providers/github-wif-01
    service_account: github-deploy@dev-trail-471421-m4.iam.gserviceaccount.com
