name: Deploy to Cloud Run (GCP WIF)

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write   # จำเป็นมากสำหรับ Workload Identity Federation

    env:
      PROJECT_ID: dev-trail-471421-m4
      PROJECT_NUMBER: 1080063722000
      REGION: asia-southeast1
      SERVICE: fitness-backend
      IMAGE: asia-southeast1-docker.pkg.dev/dev-trail-471421-m4/fitness-backend/fitness-backend

    steps:
      # 1) Checkout source code
      - name: Checkout
        uses: actions/checkout@v4

      # 2) Authenticate to Google Cloud ด้วย WIF
      - id: auth
        name: Authenticate to Google Cloud (WIF)
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          workload_identity_provider: projects/1080063722000/locations/global/workloadIdentityPools/github-pool/providers/github-wif-01
          service_account: github-deploy@dev-trail-471421-m4.iam.gserviceaccount.com

      # 3) Setup gcloud
      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: dev-trail-471421-m4
          version: ">= 460.0.0"

      # 4) Docker login ไปที่ Artifact Registry
      - name: Docker auth (Artifact Registry)
        run: |
          echo "${{ steps.auth.outputs.access_token }}" | docker login \
            -u oauth2access_token \
            --password-stdin \
            https://asia-southeast1-docker.pkg.dev

      # 5) Build & Push Docker image
      - name: Build and push image
        run: |
          docker build -t $IMAGE:$GITHUB_SHA .
          docker push $IMAGE:$GITHUB_SHA

      # 6) Deploy to Cloud Run
      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy $SERVICE \
            --image $IMAGE:$GITHUB_SHA \
            --region $REGION \
            --platform managed \
            --allow-unauthenticated \
            --quiet
